@import "reset.css";
@import "basic.css";

body {
    display: flex;
    flex-direction: column;
}

header, section, footer {
    border: 1px solid black;
}

header {
    flex: 0 0 auto;
}

section {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.2em;
}

header nav ul li {
    margin: 1.2em .6em;
}

.login {
    color: white;
    background: #4285f4;
    padding: .6em 1em;
}